<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">

        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        <li class="item">
            <a class="link" href="{{ site.url }}/research">Research</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/teaching">Teaching</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/CV-KK.pdf" target="_blank">CV</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/contact">Contact</a>
        </li>
    </ul>
</nav>
